#NavImage {
    width: 150px;
    cursor: pointer;
}

/* a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color:red; }
a:focus { text-decoration: none; color:blue; }
a:hover, a:active { text-decoration: none; color:black } */