#NavImage {
    width: 150px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    transition: red .15s ease-in;
}

/* a, a:active, a:focus {
    outline: transparent;
} */

/* a:link,
.link:visited {
transition: red .15s ease-in;
}
a:hover   {
transition: red .15s ease-in;
}
a:active  {
transition: color .15s ease-in;
}
a:focus   {
transition: color .15s ease-in;
outline: 1px dotted currentColor;
} */